{% include 'accounts/header.html' %}
{% include 'accounts/topbar.html' %}
{% include 'accounts/sidebar.html' %}

<div class="content-wrapper sa-app-page hrms-advanced-form">
  <section class="content-header">
    <div class="container-fluid">
      {% include 'accounts/_list_page_header.html' with page_icon='fas fa-building' page_title='Edit Department' page_subtitle='Update department details' breadcrumb_parent='Departments' breadcrumb_parent_url='department_list' breadcrumb_active='Edit Department' %}
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <form method="POST">
        {% csrf_token %}
        <div class="card sa-dash-card sa-form-card">
          <div class="card-header">
            <h3 class="card-title mb-0">Department Details</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 form-group mb-0">
                <label>Department Name</label>
                <input type="text" name="dept_name" class="form-control" value="{{ form.instance.dept_name }}" required />
              </div>
            </div>
          </div>
        </div>
        {% include 'accounts/_form_actions.html' with submit_label='Update Department' cancel_url='department_list' %}
      </form>
    </div>
  </section>
</div>

{% include 'accounts/footer.html' %}
